# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Data file
*.arw
*.csv

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
/.ropeproject/config.py
/.ropeproject/globalnames
/.ropeproject/history
/.ropeproject/objectdb
/.~lock.ZHIL1669.arw#
/Calibration Curve.ods
/Gauss2.dat
/Untitled1.ipynb
/ZHIL1669.arw-fixed
/deconvolution.qti
/deconvolution2.qti
/deconvolution2.qti~
